/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Calibri', sans-serif;
  font-size: medium;
  font-weight: 500
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Calibri', sans-serif;
  font-size: large;
  font-weight: 600;
}

p {
  font-family: 'Calibri', serif;
  font-weight: 500;
}

.navbar-brand {
    font-family: 'Calibri', sans-serif;
    font-size: 1.2rem; 
  }

.navbar .nav-link {
    font-family: 'Calibri', sans-serif;
    font-size: medium; 
  }


  

  